.img{
    width: 100px;
    height: 100px;
    border: 1px solid red
}
.img1{
    background:linear-gradient(to right,red, orange)
}
.img2{
    background: radial-gradient(blue,purple);
}
.img3{
    background: conic-gradient(red, orange, yellow, green, blue);;
}